<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="shortcut icon" href="{{STATIC_URL }}comum/img/favicon.ico" />

    <link rel="stylesheet" href="{{STATIC_URL }}djtools/jquery-1.6.2/css/jquery.ui.all.css" />
    <link rel="stylesheet" href="{{STATIC_URL }}djtools/jquery-1.6.2/css/jquery.ui.core.css" />
    <link rel="stylesheet" href="{{STATIC_URL }}djtools/jquery-1.6.2/css/jquery.ui.datepicker.css" />
    <link rel="stylesheet" href="{{STATIC_URL }}djtools/jquery-1.6.2/css/jquery.ui.theme.css" />


    <link rel="stylesheet" href="{{STATIC_URL }}djtools/jquery/jquery.autocomplete.css" />
    <link rel="stylesheet" href="{{STATIC_URL }}djtools/jstree/tree_component.css" />


    <link rel="stylesheet" href="{{STATIC_URL }}djtools/css/main.css" />
    <link rel="stylesheet" href="{{STATIC_URL }}djtools/css/icons.css" />


    <link rel="stylesheet" href="{{STATIC_URL }}comum/css/hint.min.css" />
    <link rel="stylesheet" href="{{STATIC_URL }}comum/css/estilo.css" />
    <link rel="stylesheet" href="{{STATIC_URL }}comum/css/forms.css" />


    <link rel="stylesheet" href="{{STATIC_URL }}comum/css/index.css" />



    <script src="{{STATIC_URL }}comum/js/jquery.min.js"></script>


    <link rel="stylesheet" href="{{STATIC_URL }}djtools/tinybox/tinybox.css" />
    <script src="{{STATIC_URL }}djtools/tinybox/tinybox.js"></script>


    <script src="{{STATIC_URL }}comum/js/jquery.ui.custom.min.js"></script>
    <script src="{{STATIC_URL }}comum/js/jquery.ui.datepicker-pt-BR.js"></script>


    <script src="{{STATIC_URL }}comum/deprecated/js/jquery.autocomplete.js"></script>


    <script src="{{STATIC_URL }}comum/deprecated/js/jquery.form.js"></script>
    <script src="{{STATIC_URL }}comum/js/main.js"></script>
    <script src="{{STATIC_URL }}comum/deprecated/js/mascaras.js"></script>
    <script src="{{STATIC_URL }}comum/deprecated/js/auxiliar.js"></script>
    <script src="{{STATIC_URL }}comum/deprecated/js/suap.basico.js"></script>


    <script src="{{STATIC_URL }}djtools/box/js/box.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            alert("teste de jquery");
        });
    </script>

</head>
<body>
<ul>
<li class="menu-home"><a href="/">Bem Vindo ao sistema <strong>Web Secretaria</strong></a></li>
    </ul>
<img src="{{ STATIC_URL }}img/python.png" />
</body>
</html>