{% extends 'base.html' %}
{% block content %}
<form action="." method="post">
    {% csrf_token %}
    <p>
    <label for="{{ form.requerimento.id_for_label }}">{{ form.requerimento.label }} : </label>
    {{ form.requerimento }}
    {{ form.requerimento.errors }}
    </p>

    <p>
    <label for="{{ form.status.id_for_label }}">{{ form.status.label }} : </label>
    {{ form.status }}
    {{ form.status.errors }}
    </p>

    <p>
    <label for="{{ form.permissao.id_for_label }}">{{ form.permissao.label }} : </label>
    {{ form.permissao }}
    {{ form.permissao.errors }}
    </p>

    <p>
    <input type="submit" value="GRAVAR" />
    </p>

</form>
{% endblock content %}